@use "../../../presets" as *;
@use "../../../mixins" as *;

.brands-title {
    text-align: center;
    max-width: 720px;
    min-height: 120px;
    padding-top: 108px;
    padding-bottom: 70px;

    @include sm {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    &__text {
        font-weight: 600;
        font-size: 50px;
        line-height: 60px;
        text-align: center;
    }
}