@use "../../../presets" as *;
@use "../../../mixins" as *;

.box-secondary {
    // min-height: 632px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding-bottom: 190px;

    @include sm {
        padding-bottom: 60px;
    }

    &--md {

        min-height: 575px;
        padding-bottom: 150px;

        @include lg {
            margin-bottom: 450px;
        }
    }

    @include lg {
        grid-auto-flow: initial;
        grid-template-columns: 1fr;
        margin-bottom: 50px;
    }

    @include sm {
        margin-bottom: 30px;
    }

    &__contant {

        @include lg {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            order: -1;
        }

        &-title {
            font-weight: 600;
            font-size: 50px;
            line-height: 60px;
            max-width: 488px;
            padding-left: 107px;
            padding-top: 191px;

            @include lg {
                max-width: none;
            }

            @include sm {
                font-size: 40px;
            }

            &--md {
                padding-top: 106px;
            }

            @include lg {
                padding-top: 0px;
                padding-left: 0px;
            }
        }

        &-description {
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            padding-top: 30px;

            padding-left: 107px;
            margin-bottom: 5px;
            max-width: 555px;

            &--md {
                padding-top: -9px;
                margin-bottom: 5px;
                max-width: 626px;
            }

            @include lg {
                padding-left: 0px;
            }
        }

        &-action {
            padding-top: 30px;
            padding-bottom: 160px;
            padding-left: 107px;

            &--md {
                padding-top: 22px;
                padding-bottom: 123px;
            }

            @include lg {
                padding-left: 0px;
                padding-bottom: 40px;
            }

            &-button {
                font-weight: 600;
                font-size: 20px;
                line-height: 30px;
            }
        }
    }

    &__picture {
        display: flex;
        justify-content: center;
        align-items: center;

        &--md {
            background-color: $color-yellow;
            height: 575px;
            padding: 0 65px;

            @include lg {
                width: 80%;
                margin: 0 auto;
                padding: 0 40px;
            }

            @include sm {
                height: 300px;
                padding: 0 20px;
            }
        }

        &-image {
            width: 100%;

            @include lg {
                width: 80%;
                margin: 0 auto;
            }

            @include sm {
            width: 100%;
            }
        }
    }
}