@use "../../../presets" as *;
@use "../../../mixins" as *;


.box-first {
    min-height: 632px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    @include lg {
        grid-auto-flow: initial;
        grid-template-columns: 1fr;
    }

    @include sm {
        margin-bottom: 100px;
    }

    &__contant {
        max-width: 493px;

        @include lg {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }

        &-title {
            padding-top: 160px;
            font-weight: 600;
            font-size: 50px;
            line-height: 60px;

            @include sm {
                padding-top: 0;
            }
        }

        &-description {
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
        }

        &-action {
            padding-bottom: 160px;
            padding-top: 30px;

            &-button {
                font-weight: 600;
                font-size: 20px;
                line-height: 30px;
            }
        }
    }

    &__picture {
        display: flex;
        justify-content: center;
        align-items: center;

       

        &-image {
            @include sm {
                    max-width: 80%;
                }
        }
    }
}