@use '../../presets' as *;
@use '../../mixins' as *;

.footer-menu {
   
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px;
    padding-top: 20px;
    @include xl {
        grid-template-columns: repeat(2, 1fr);
        }
    @include md {
        justify-content: center;
        gap: 50px;
 
    }
          @include sm {
             
              grid-template-columns: 1fr;
          }
}

.footer-menu__bloсk {
    max-width: 187px;
@include sm {
    display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
            display: block;
}
}

.footer-menu__block-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
}

.footer-menu__block-action {}

.footer-menu__block-link {
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
}