@use "../../../presets" as *;
@use "../../../mixins" as *;

.apps-box {
    min-height: 294px;
    width: 330px;
    display: flex;
    flex-direction: column;

    &__title {
        text-align: center;

    }

    &__picture {
        order: -1;
        text-align: center;
    }

    &__image {}

    &__description {}
}