@use "../../../presets" as *;
@use "../../../mixins" as *;

.apps-box {
    min-height: 294px;
    width: 330px;
        display: flex;
    flex-direction: column;
}

.apps-box__title {
    text-align: center;

}

.apps-box__picture {
    order: -1;
    text-align: center;
}

.apps-box__image {
   
}

.apps-box__description {}