@use "../../../presets" as *;
@use "../../../mixins" as *;

.teams {
    padding-top: 118px;
    margin-bottom: 180px;

    @include sm {
            padding-top: 40px;
            margin-bottom: 90px;
        }

    &-item {
        padding-bottom: 50px;

        &__text {
            font-weight: 600;
            font-size: 50px;
            line-height: 60px;
            text-align: center;

            @include sm {
                font-size: 40px;
            }
        }
    }
}