@use "../../../presets" as *;
@use "../../../mixins" as *;

.teams-container {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px 20px;

    @include xxl {
        grid-template-columns: repeat(2, 1fr);
    }

    @include md {
        grid-template-columns: repeat(1, 1fr);
    }
}


.teams-box {
    display: flex;
    flex-direction: column;
    
    @include md {
        text-align: center;
        padding-bottom: 40px;
    }

    &__title {
        font-weight: 600;
        font-size: 30px;
        line-height: 40px;
        margin: 30px 0 10px 0;

        @include md {
            padding: 0px;
        }
    }

    &__picture {
        order: -1;
        min-height: 205px;
    }

    &__description {
        font-size: 20px;
        line-height: 30px;
        max-width: 410px;
    }

    &__actions {
        margin-top: 8px;
    }
}

.teams-box__botton {
    font-size: 20px;
    line-height: 30px;
    text-decoration-line: underline;
}

.teams-box__image {}