@use "../../../presets" as *;
@use "../../../mixins" as *;

.face {
    background-color: #c9e8f2;
    padding-bottom: 105px;

    &-container {
        display: flex;
        gap: 85px;

        @include md {
            flex-direction: column-reverse;
            align-items: center;
            padding-top: 30px;
            gap: 10px;
        }

        @include sm {}
    }

    &-contant {
        padding-top: 32px;

        &__description {
            font-weight: 400;
            font-size: 30px;
            line-height: 40px;
            margin-bottom: 26px;
        }

        &__notes {
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            margin-bottom: 3px;
        }

        &__revolut {}
    }

    .face-picture {
        padding-top: 52px;

        @include md {
            padding-top: 0px;
        }
    }
}

.face-image {}