@use "../../../presets" as *;
@use "../../../mixins" as *;

.question {
    background-color: $color-bg-orange;

    &-block {
        display: flex;
        align-items: center;
        flex-direction: column;

        &__title {
            font-weight: 600;
            font-size: 65px;
            line-height: 75px;
            max-width: 784px;
            text-align: center;
            padding-top: 54px;
            margin-bottom: 30px;

            @include md {
                font-size: 45px;
            }
        }

        &__description {
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 55px;
            text-align: center;
        }

        &__actions {
            font-weight: 600;
            font-size: 17px;
            line-height: 60px;
            margin-bottom: 160px;
        }
    }
}