$color-primary: #000000;
$color-accent: #ff6336;
$color-light: #ffffff;
$color-yellow: #fcf6df;

$color-bg-gray: #eeeeee;
$color-bg-yellow: #fff8e4;
$color-bg-orange: #ff9c7d;
$color-bg-brown: #dabc98;